<%= render partial: "shared/sidebar", locals:{subType: "BorrowItems"} %>
<div id="main">
  <% if @replies %>
        <% @replies.each do |item|%>
          <!--item name-->
          <p class="rcv-msg"><%= link_to truncate(item.borrow_item.item_name,length: 15),item.borrow_item %></p>
          <!-- status -->
              <% if item.message_state %>
              <%= link_to item.message_state.name, edit_receive_reply_path(item), class: "stus-icon stus-rply" %>
              <% end %>
          <!-- message -->
          <%= truncate(item.message,length: 15) %>
          <!-- date -->
          <p>申込日 <%= item.created_at.to_s %>　　更新日 <%= item.updated_at.to_s %></p>
          <br/>
      <% end %>
    <%= paginate @replies %>
  <% end %>
</div>

