<div id="contents"><img src="/assets/logo.png" width="820" height="281" alt="" />
  <!--サブメニュー-->
  <div id="sidebar">
    <div id="side_txbox">
      <% if logged_in? %>
        <li><%= current_member.user_name %>さん</li>
            <%= link_to "ユーザー編集", edit_member_path(current_member) %><br>
            <%= link_to "ログアウト", logout_path, method: "delete" %>
      <% else %>
       <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_for(:session, url: login_path) do |f| %>
            <%= f.label :email, "メールアドレス:" %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password, "パスワード:"%>
            <%= link_to "(パスワードを忘れましたか？)", new_password_reset_path %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>パスワードを記憶させる</span>
            <% end %>
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          <% end %>
          <p>ユーザー登録していませんか? <%= link_to "ユーザ登録", signup_path %></p>
         </div>
       </div>
      <% end %>
    </div>
  </div>

    <!---
       <div id="submenu">
       <h2>SUBMENU(h2)</h2>
       <ul>
         <li><a href="#">submenu</a></li>
         <li><a href="#">submenu</a></li>
         <li><a href="#">submenu</a></li>
         <li><a href="#">submenu</a></li>
         <li><a href="#">submenu</a></li>
         <li><a href="#">submenu</a></li>
         </ul>
     </div>
     <div id="side_txbox">
     <p>User Information</p>
     <p>name:</p>
     <p>icon</p>
     <p>Logout</p>
     <p>Information Edit <br />
     </p>
     </div>
 -->  </div>

  <!--メイン-->
  <div id="main">
    <h2>最新登録</h2>
    <div class="main_box">
      <p>こちらの<a href="http://bluegreen.jp/template/licence/">ライセンスお申込みフォーム</a>よりお問い合わせください。<br />
      </p>
    </div>

    <h2>貸すList</h2>
    <div class="main_box">
      <p><img src="/assets/icon_01.gif" alt="" width="13" height="13" class="img" />この上のバー↑は&lt;h2＞タグでくくると、背景画像が入ります。<br />※ &lt;h2&gt;タイトル&lt;/h2&gt;のように書きます。    </p>
      <hr size="1" />
      <p><img src="/assets/icon_01.gif" alt="" width="13" height="13" class="img" />テンプレートの編集方法については、サポート外となりますのでお問い合わせいただいてもお答えできません。申し訳ございませんがご了承ください。    </p>
      <hr />
      <p><img src="/assets/icon_01.gif" alt="" width="13" height="13" class="img" />サブページについては、「about」フォルダの中に、サブページの見本がありますのでそちらを参考にしてください。</p>
      <hr />
    </div>

    <h3>求めるList</h3>
      <div class="main_box2"> <img src="/assets/icon_01.gif" alt="" width="13" height="13" class="img" /><span class="fc02">2010/1/1</span><br />
        ホームページリニューアルしました。
        <hr size="1" />
        <img src="/assets/icon_01.gif" alt="" width="13" height="13" class="img" /><span class="fc02">2010/1/1
        </span><br />
        ホームページリニューアルしました。
        <hr size="1" />
        <img src="/assets/icon_01.gif" alt="" width="13" height="13" class="img" /><span class="fc02">2010/1/1</span><br />
        ホームページリニューアルしました。
        <hr size="1" />
      </div>
  </div> <!--メイン-->

  <!--pagetop-->
  <%= render 'shared/pagetop' %>
</div> <!--contents-->
