<div id="contents"><img src="/assets/logo.png" width="820" height="281" alt="" />
  <div id="sidebar">
    <div id="side_txbox">
      <%= render :file => "sessions/new" unless current_member  %>
      <% if current_member %>
      <p class="member">
      <%= current_member.user_name %>さん<br>
       <%= link_to "ユーザー編集", edit_member_path(current_member) %><br>
       <%= link_to "ログアウト", logout_path, method: "delete", data: { confirm: "ログアウトしますか？" } %>
      </p>
      <% end %>
    </div>
  </div>

  <!--メイン-->
  <div id="main">
    <% if flash.notice %>
      <p class="notice"><%= flash.notice %></p>
    <% end%>

    <% if flash.alert %>
     <p class="alert"><%= flash.alert %></p>
    <% end%>

    <h2>貸出アイテム一覧</h2>
    <div class="main_box">
      <% @loanItems.each do |loanItem|%>
        <%= loan_item_image_tag(loanItem, width: 100 ) %> <br>
        <%= loanItem.item_name %> <br>
      <% end %>
    </div>

    <h2>募集中</h2>
    <div class="main_box">
      <% @borrowItems.each do |borrowItem|%>
        <%= borrowItem.item_name %> <br>
      <% end %>
    </div>

  </div> <!--メイン-->

  <%= render 'shared/pagetop' %>
</div> <!--contents-->
