<div id="contents"><img src="/assets/logo.png" width="820" height="281" alt="" />
  <div id="sidebar">
    <div id="side_txbox">
      <%= render :file => "sessions/new" unless current_member  %>
      <% if current_member %>
      <p class="member">
      <%= current_member.user_name %>さん<br>
        <% if current_member.try(:admin?) %>
           <%= link_to "メンバー一覧", members_path %></br>
        <% end %>
       <%= link_to "ユーザー編集", edit_member_path(current_member) %><br>
       <%= link_to "ログアウト", logout_path, method: "delete", data: { confirm: "ログアウトしますか？" } %>
      </p>
      <% end %>
    </div>
  </div>

  <!--メイン-->
  <div id="main">
    <% if flash.notice %>
      <div class="tn-box tn-box-color">
        <p id="p-tn-box"><%= flash.notice %></p>
      </div>
      <br/>
    <% end%>

    <% if flash.alert %>
     <div class="tn-box tn-box-color">
       <p id="p-tn-box"><%= flash.alert %></p>
     </div>
     <br/>
    <% end%>

    <h2>募集中一覧</h2>
    <div class="main_box2">
      <ul id="show-lst">
        <% @borrowItems.each do |borrowItem|%>
            <!-- アイテム名 -->
            <li>
              <span class="ind-lst-title"><%= truncate(borrowItem.item_name,length: 20) %></span>
              <!-- 料金 -->
              <div class="ind-lst-price"><%= borrowItem.fare %>円</div>
              <!--link-->
              <%= link_to "詳細", borrowItem, class:"stus-icon ind-lst-lnk" %>
              <!-- 貸出場所　-->
              <div class="ind-lst-lctn">貸出場所：<%= truncate(borrowItem.location,length: 12) %>　　
                投稿者：<%= borrowItem.member.user_name %></div>
              <!-- 投稿者 -->
            </li>　
        <% end %>
        </ul>
    </div>
<br/>
    <h3>貸出アイテム一覧</h3>
    <div class="main_box">
      <ul class="each-item">
      <% @loanItems.each do |loanItem|%><li>
        <div class="ind-lst-div">
        <!-- 図 -->
        <span class="ind-lst-pic"><%= loan_item_image_tag(loanItem, width: 100 ) %> </span>
        <!-- アイテム名 -->
        <span class="ind-lst-title"><%= truncate(loanItem.item_name,length: 13) %></span>
        <!-- 料金 -->
        <div class="ind-lst-price"><%= loanItem.fare %>円</div>
          <!--link-->
        <%= link_to "詳細", loanItem, class:"stus-icon ind-lst-lnk" %>
        <!-- location -->
        <div class="ind-lst-lctn">貸出場所：<%= truncate(loanItem.location,length: 15) %> </div>
        <div class="ind-lst-lctn"><%= "投稿者：#{loanItem.member.name}" %> </div>
        </div></li>
      <% end %></ul>
    </div>

  </div> <!--メイン-->

  <%= render 'shared/pagetop' %>
</div> <!--contents-->
