<div id="contents"><img src="/assets/logo.png" width="820" height="281" alt="" />
  <div id="sidebar">
    <div id="side_txbox">
      <%= render :file => "sessions/new" unless current_member  %>
      <% if current_member %>
      <p class="member">
      <%= current_member.user_name %>さん<br>
        <% if current_member.try(:admin?) %>
           <%= link_to "メンバー一覧", members_path %></br>
        <% end %>
       <%= link_to "ユーザー編集", edit_member_path(current_member) %><br>
       <%= link_to "ログアウト", logout_path, method: "delete", data: { confirm: "ログアウトしますか？" } %>
      </p>
      <% end %>
    </div>
  </div>

  <!--メイン-->
  <div id="main">
    <% if flash.notice %>
      <p class="notice"><%= flash.notice %></p>
    <% end%>

    <% if flash.alert %>
     <p class="alert"><%= flash.alert %></p>
    <% end%>

    <h2>貸出アイテム一覧</h2>
    <div class="main_box">
      <% @loanItems.each do |loanItem|%>
        <!-- 図 -->
        <%= loan_item_image_tag(loanItem, width: 100 ) %> <br>
        <!-- アイテム名 -->
        <%= loanItem.item_name %> <br>
        <!-- 料金 -->
        <%= loanItem.fare %>円<br>
        <!-- 貸出場所　-->
        貸出場所：<%= loanItem.location %> <br>
        <!-- 投稿者 -->
        投稿者：<%= loanItem.member.user_name %>　
        <!-- 更新日 -->
        更新日：<%= loanItem.updated_at.strftime("%Y/%m/%d %H:%M")%><br>

        <br>

      <% end %>
    </div>

    <h2>募集中一覧</h2>
    <div class="main_box">
      <% @borrowItems.each do |borrowItem|%>
        <!-- アイテム名 -->
        <%= borrowItem.item_name %> <br>
        <!-- 料金 -->
        <%= borrowItem.fare %>円<br>
        <!-- 貸出場所　-->
        貸出場所：<%= borrowItem.location %> <br>
        <!-- 投稿者 -->
        投稿者：<%= borrowItem.member.user_name %>　
        <!-- 更新日 -->
        更新日：<%= borrowItem.updated_at.strftime("%Y/%m/%d %H:%M")%><br>
        
        <br>
      <% end %>
    </div>

  </div> <!--メイン-->

  <%= render 'shared/pagetop' %>
</div> <!--contents-->
