<%= render partial: "shared/sidebar", locals:{subType: "BorrowItems"} %>


<div id="main">
  <ul class="each-item">
    <% @borrow_Items.each do |item|%>
    <li>
    <div class="each-item">
      <!-- アイテム名 -->
      <h5 class="item-title"><%= link_to truncate(item.item_name,length: 15),item %></h5>
      <!-- カテゴリー-->
      <div class="item-ctlg"><%= truncate(item.category.name,length: 8) %></div>
      <br/>
      <!-- 料金 -->
      <div class="item-price"><%= item.fare %> 円</div><!-- 借りたい場所　-->
      <div class="item-place"><%= "借りたい場所：#{truncate(item.location,length: 15)}" %></div>
      <!-- 更新日 -->
      <div class="item-update">投稿者：<%= item.member.user_name %>　　更新日：<%= item.updated_at.strftime("%Y/%m/%d") %></div>
      <!-- 状態-->
      状態：<%= item.borrow_state.name %>
      <div class="function">
      <% if item.borrow_state.id==1 || item.borrow_state.id==3%>　　
          <% if item.borrow_state.id==1%>　　　　　　　　　　
              <%= link_to "編集", [:edit, item]%>　　
          <% end %>
          <%= link_to "削除", item, method: :delete , data: { confirm: "削除しても宜ですか？"} %>
      <% end %>
      </div>
    </div>
    </li>
    <% end %>
  </ul>
<%= paginate @borrow_Items %>
  <%= debug(params) if Rails.env.development? %>
</div>
