<%= render partial: "shared/sidebar", locals:{subType: "BorrowItems"} %>

<div id="main">

<%= form_for(@borrow_Item) do |form| %>
  <%= render "form", f: form %>
      <tr>
        <th colspan="2" align="center">
          <br/>
          <%= form.submit "登録", class: "button" %>
        </th>
      </tr>
  </table>
  <%= debug(params) if Rails.env.development? %>
<% end %>
</div>
