<%= render partial: "shared/sidebar", locals:{subType: "BorrowItems"} %>


<div id="main">

  <% if flash.notice %>
      <div class="tn-box tn-box-color">
        <p id="p-tn-box"><%= flash.notice %></p>
      </div>
      <br/>
  <% end%>

  <!--アイテム名-->
  <p id="show-itm-tle"><%= truncate(@borrow_Item.item_name,length: 15) %></p>
  <!--状態-->
  <p class="stus-icon show-itm-stus"><%= @borrow_Item.borrow_state.name %></p>
  <h3 style="font-size: 16px;">基本資料</h3>

  <div class="main_box2">
    <ul id="show-item">
      <!--カテゴリー-->
      <li>カテゴリー：</li>
      <p class="show-p"><%= @borrow_Item.category.name %></p>
      <hr size="1" />
      <!--料金-->
      <li>料金：</li>
      <p class="show-p"><%= @borrow_Item.fare %> 円</p>
      <hr size="1" />
      <!-- 貸出場所 -->
      <li>貸出場所：</li>
      <p class="show-p"><%= @borrow_Item.location %></p>
      <hr size="1" />
      <!-- date -->
      <li>更新日：</li>
      <p class="show-p"><%= @borrow_Item.updated_at.strftime("%Y/%m/%d") %></p>
      <hr size="1" />
      <!--アイテム説明-->
      <li>アイテム説明：</li>
      <p class="show-p"><%= @borrow_Item.item_description %></p>
      <hr size="1" />
      <!--貸出条件-->
      <li>貸出条件：</li>
      <p class="show-p"><%= @borrow_Item.term %></p>
    </ul></div>


  <%= debug(params) if Rails.env.development? %>
</div>
