<%= render partial: "shared/sidebar", locals:{subType: "LoanItems"} %>



<div id="main">
<% @receive_requests.each do |request|%>

  アイテム名：
  <%= link_to request.loan_item.item_name, loan_item_path(id: request.loan_item.id) %><br>

  <!-- 画像 -->
  <%= loan_item_image_tag request.loan_item %> <br>

  状態：
  <% if request.message_state %>
    <%= request.message_state.name %><br>
  <% end %>

  申し込みユーザー：
  <%= request.member.user_name %> <br>

  更新日：
  <%= request.updated_at.strftime("%Y/%m/%d %H:%M") %> <br>

  メッセージ：
  <%= truncate(request.message, length: 80) %> <br>

  <%= link_to "詳細", receive_request_path(id: request.id) %> <br>
  <br>

<% end %>
<%= debug(params) %>
</div>
