<%= render partial: "shared/sidebar", locals:{subType: "LoanItems"} %>



<div id="main">
<% @receive_requests.each do |request|%>

      <!--アイテム名 and 申し込みユーザー-->
      <p class="rcv-msg"><%= link_to request.loan_item.item_name, loan_item_path(id: request.loan_item.id) %> from <%= request.member.user_name %></p>


      <!--状態-->
      <% if request.message_state %>
          <%= link_to request.message_state.name, receive_request_path(id: request.id), class: "stus-icon stus-rply" %>
      <% end %>

      <!--メッセージ-->
      <%= truncate(request.message, length: 20) %>
      <!-- date -->
      <p>申込日 <%= request.created_at.to_s %>　　更新日 <%= request.updated_at.to_s %></p>
 <br/>


<% end %>
<%= debug(params) %>
</div>
