<%= render partial: "shared/sidebar", locals:{subType: "LoanItems"} %>
<div id="main">
  <!--error message-->
  <% if flash.notice %>
    <div class="tn-box tn-box-color">
      <p id="p-tn-box"><%= flash.notice %></p>
    </div>
    <br/>
  <% end%>
  <!--message form-->
  <!--item name and applyer-->
  <p class="rcv-msg"><%= link_to truncate(@receive_request.loan_item.item_name,length: 15),
  loan_item_path(id: @receive_request.loan_item.id) %> <span><%= "　　送信者： #{@receive_request.member.user_name}" %></span></p>
  <!-- アイテムの持ち主：
  <%#= @receive_request.loan_item.member.name %><br> -->
  <!-- 画像
  <%#= loan_item_image_tag @receive_request.loan_item %> <br-->
  <!--message-->

    <%= form_for(@receive_request, url: {:controller => :receive_requests,:action => :update}) do |form| %>
      <div class="msg">
        <%= @receive_request.message %>
        <br/>更新日：<%= @receive_request.updated_at.to_s %>
        <!--status-->
        <p align="right">
        <% if @receive_request.message_state %>
          <%= @receive_request.message_state.name %><br>
        <% end %>
        </p>
      </div>
      <% if @receive_request.message_state_id == 1 %>
        <div class="function">
          <%= form.submit "承認",  :name => "accept_request",data: {confirm: "承認しても宜しいですか？"}, class: "button" %>　　
          <%= form.submit "拒否",  :name => "refuse_request",data: {confirm: "拒否しても宜しいですか？"}, class: "button" %>
        </div>
      <% end %>
    <% end %>
</div>
