<%= render partial: "shared/sidebar", locals:{subType: "Tenders"} %>

<div id="main">
  <% if flash.notice %>
      <div class="tn-box tn-box-color">
        <p id="p-tn-box"><%= flash.notice %></p>
      </div>
      <br/>
  <% end%>

  <!--details-->
  <!--アイテム名-->
  <p id="show-itm-tle"><%= truncate(@borrow_item.item_name,length: 20) %></p>
  <!--状態-->
  <p class="stus-icon show-itm-stus"><%= @borrow_item.borrow_state.name %></p>
  <h3>基本資料</h3>

  <div class="main_box2">
    <ul id="show-item">
      <!--カテゴリー-->
      <li>カテゴリー：</li>
      <p class="show-p"><%= @borrow_item.category.name %></p>
      <hr size="1" />
      <!--料金-->
      <li>料金：</li>
      <p class="show-p"><%= @borrow_item.fare %> 円</p>
      <hr size="1" />
      <!-- 場所 -->
      <li>借りたい場所：</li>
      <p class="show-p"><%= @borrow_item.location %></p>
      <hr size="1" />
      <!-- date -->
      <li>更新日：</li>
      <p class="show-p"><%= @borrow_item.created_at.strftime("%Y/%m/%d %H:%M") %></p>
      <hr size="1" />
      <!--アイテム説明-->
      <li>アイテム説明：</li>
      <p class="show-p"><%= @borrow_item.item_description %></p>
      <hr size="1" />
      <!--貸出条件-->
      <li>借りたい条件：</li>
      <p class="show-p"><%= @borrow_item.term %></p>
    </ul>
  </div>
  <br/>

 <!--send message-->
  <div>
  <% if current_member %>
      <% if @borrowReplies%>
          <% @borrowReplies.each do |reply|%>

              <p align="right"><%= reply.updated_at.to_s %></p>
                <hr>
                <div class="msg">
                  <%=reply.message%>
              <p align="right"><%="#{reply.message_state.name}"%></p>
            </div>
            <br/>

          <% end%>
          <%= paginate @borrowReplies ,:params => {:controller => 'tenders', :action => 'edit'}%>
      <% end%>

<!--error message-->
      <%= render "shared/errors", obj: @borrow_item %>
        <!--message form-->
      <% if @newBorrowReply %>
          <%= form_for(@borrow_item,url: {:controller => :tenders,:action => :update}) do |form| %>
              <%= form.fields_for @newBorrowReply do |reply| %>
                <%= render partial: "form", locals:{f: reply} %>
              <% end%>
              <%= form.submit "リクエスト" ,data: {confirm: "リクエストを送信しても宜しいですか？"}, class:"button" %>
          <% end%>
      <% end%>
        <br/>
  <% end%>
  </div>
</div>
