<%= render partial: "shared/sidebar", locals:{subType: "Tenders"} %>

<div id="main">
  <ul class="each-item">
    <% @borrow_items.each do |item|%>
      <li>
        <div class="each-item">
          <!-- アイテム名 -->
          <h5 class="item-title"><%= link_to truncate(item.item_name,length: 15), edit_tender_path(item)%></h5>
          <!-- カテゴリー-->
          <div class="item-ctlg"><%= truncate(item.category.name,length: 8) %></div>
          <br/>
          <!-- 料金 -->
          <div class="item-price"><%= item.fare %>円</div>
          <!-- 状態-->
          <%= link_to item.borrow_state.name, edit_tender_path(:id => item.id), class: "stus-icon item-stus" %>
          <br/>
          <!-- 借りたい場所　-->
          <div class="item-place">
            <%= "貸出場所：#{truncate(item.location,length: 15)}" %>
          </div>
          <!-- 更新日 -->
          <div class="item-update">
            <%= "投稿者：#{item.member.user_name}" %>　
            <%= "更新日：#{item.updated_at.to_s}" %>
          </div>
        </div>
      </li>
    <% end%>
  </ul>
  <%= paginate @borrow_items %>
</div>
