<%= render partial: "shared/sidebar", locals:{subType: "Tenders"} %>
<span style="color:#ff0000">
    <% if flash.notice %>
      <p><%= flash.notice %></p>
    <% end%>
</span>
<div>
  <table >
    <tbody>
      <tr >
        <th>
          アイテム名
        </th>
        <td >
          <%= truncate(@borrow_item.item_name,length: 15) %>
        </td>
        <th >
          状態
        </th>
        <td >
          <%= @borrow_item.borrow_state.name %>
        </td>
      </tr>
      <tr >
        <th >
          カテゴリー
        </th>
        <td >
          <%= @borrow_item.category.name %>
        </td>
        <th >
          基本料金
        </th>
        <td >
          <span style="color:#ff0000"><%= @borrow_item.fare %></span> 円
        </td>
      </tr>
      <tr >
        <th >
          借りたい場所
        </th>
        <td colspan="3" >
          <%= @borrow_item.location %>
        </td>
      </tr>
      <tr >
        <th >
          借りたい条件
        </th>
        <td colspan="3" >
          <%= @borrow_item.term %>
        </td>
      </tr>
      <tr >
        <th >
          アイテム説明
        </th>
        <td colspan="3" >
          <%= @borrow_item.item_description %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="messagenew">
    <% if flash.notice %>
      <p><%= flash.notice %></p>
    <% end%>
    <% if current_member %>
      <hr>
      <%= render "shared/errors", obj: @borrow_item %>
      <%= form_for(@borrow_item,url: {:controller => :tenders,:action => :update}) do |form| %>
        <%= form.fields_for :borrow_replies, @borrow_item.borrow_replies.find_by(member_id: current_member) do |reply| %>
            <%= render partial: "form", locals:{f: reply} %>
        <% end%>
        <% if @borrow_item.borrow_state.id==1 %>
          <%= form.submit "リクエスト" ,data: {confirm: "リクエストを送信しても宜しいですか？"}%>
        <% end %>
        <%= debug(params) if Rails.env.development? %>
      <% end%>
    <% end%>
  </div>
</div>