<div id="sidebar">
  <div id="submenu">
    <% case subType %>
    <% when "LoanItems" then%>
      <h2>貸す</h2>
      <ul>
        <li><%= link_to "アイテム登録", new_loan_item_path %></li>
        <li><%= link_to "アイテム一覧", loan_items_path %></li>
        <li><%= link_to "受信リクエスト", receive_requests_path %></li>
      </ul>
    <% when "Borrows" then%>
      <h2>借りる</h2>
      <ul>
        <li><%= link_to "アイテム一覧", borrows_path %></li>
        <li><%= link_to "送信リクエスト", requests_path %></li>
      </ul>
    <% when "BorrowItems" then%>
      <h2>探し物</h2>
      <ul>
        <li><%= link_to "探し物登録", new_borrow_item_path %></li>
        <li><%= link_to "探し物一覧", borrow_items_path %></li>
        <li><%= link_to "受信リクエスト"%></li>
      </ul>
    <% end%>
  </div>
</div>
