<div id="sidebar">
  <div id="submenu">
    <% case subType %>
    <% when "LoanItems" then%>
      <h2>貸す</h2>
      <ul>
        <li><%= link_to "アイテム登録", new_loan_item_path %></li>
        <li><%= link_to "アイテム一覧", loan_items_path %></li>
        <li><%= link_to "受信一覧", receive_requests_path %></li>
      </ul>
    <% when "Borrows", "Requests" then%>
      <h2>借りる</h2>
      <ul>
        <li><%= link_to "アイテム一覧", borrows_path %></li>
        <li><%= link_to "送信一覧", requests_path %></li>
      </ul>
    <% when "BorrowItems" then%>
      <h2>借りたい</h2>
      <ul>
        <li><%= link_to "借りたい", new_borrow_item_path %></li>
        <li><%= link_to "借りたい一覧", borrow_items_path %></li>
        <li><%= link_to "受信一覧",receive_replies_path%></li>
      </ul>
    <% when "Tenders", "BorrowReplies" then%>
      <h2>貸します</h2>
      <ul>
        <li><%= link_to "借りたい一覧", :tenders %></li>
        <li><%= link_to "送信一覧", :borrow_replies %></li>
      </ul>
    <% end%>
  </div>

  <% case subType %>
  <% when "Borrows" then%>
    <div id="side_txbox">
      <!-- 下記のどのかけ方でも通った -->
      <%#= form_tag({:controller => 'borrows', :action => 'search'}, {:method => :get }) do %>
      <%#= form_tag({ controller: :borrows , action: :search }, { method: :get }) do %>
      <%= form_tag :search_borrows, method: :get do %>
        <%= label_tag "q", "アイテム名" %>
        <%= text_field_tag "q", params[:q] %>
        <%= submit_tag "検索" %>
      <% end %>
    </div>
  <% when "Tenders" then%>
    <div id="side_txbox">
      <%= form_tag :search_tenders, method: :get do %>
        <%= label_tag "q", "アイテム名" %>
        <%= text_field_tag "q", params[:q] %>
        <%= submit_tag "検索" %>
      <% end %>
    </div>
  <% end %>
</div>
