<%= render "shared/errors", obj: @loanItem %>

      <p class="cuttingline">><%= f.label :message, "メッセージ" %></p>


        <% if @request.message_state.id == 1 %>
          <%= f.text_area :message ,:size => "81x5" %>
        <% else %>
          <%= f.text_area :message ,:size => "81x5", :readonly => true%>
        <% end %>
          <%= f.hidden_field :loan_item_id %>
          <%= f.hidden_field :member_id %>
          <%= f.hidden_field :message_state_id %>
          <%= f.hidden_field :delete_flg %>
