<%= render "shared/errors", obj: @loanItem %>
<table>
  <tbody>
    <tr>
      <td class="tdlabel">
          <%= f.label :message, "メッセージ" %>
      </td>
    </tr>
    <tr>
      <td class="td2">
        <% if @request.message_state.id == 1 %>
          <%= f.text_area :message ,:size => "83x5" %>
        <% else %>
          <%= f.text_area :message ,:size => "83x5", :readonly => true%>
        <% end %>
          <%= f.hidden_field :loan_item_id %>
          <%= f.hidden_field :member_id %>
          <%= f.hidden_field :message_state_id %>
          <%= f.hidden_field :delete_flg %>
      </td>
    </tr>
  </tbody>
</table>
