<%= render partial: "shared/sidebar", locals:{subType: "Requests"} %>
<div id="main">
  <!--item name-->
  <p class="webcri"><%= link_to truncate(@request.loan_item.item_name,length: 10),edit_borrow_path(:id => @request.loan_item.id) %></p>

  <div class="bubble">
    <div class="rectangle"><span>今は<%= @request.message_state.name %>の状態</span></div>
    <div class="triangle-l"></div>
    <div class="triangle-r"></div>
    <div class="info">
      <%= form_for(@request) do |form| %>
          <%= render partial: "form", locals:{f: form} %>
      <% end%>
    </div>
  </div>
  <br/>
  <%= render "shared/errors", obj: @request %>

</div>