<%= render partial: "shared/sidebar", locals:{subType: "Requests"} %>
<div id="main">
  <!--item name-->
  <p class="webcri"><%= link_to truncate(@request.loan_item.item_name,length: 25),edit_borrow_path(:id => @request.loan_item.id) %></p>
  <br/>
  <table class="smart-green">
    <!--tr>
      <th>
      アイテム名
      </th>
      <td>
      <%#= link_to truncate(@request.loan_item.item_name,length: 10),edit_borrow_path(:id => @request.loan_item.id) %>
      </td>
    </tr-->
    <tr>
      <th>
      状態
      </th>
      <td>
      <p><%= @request.message_state.name %></p>
      </td>
    </tr>
    <tr>
      <th colspan="2">
        <%= form_for(@request) do |form| %>
        <%= render partial: "form", locals:{f: form} %>
        <% end%>
      </th>
    </tr>
  </table>
  <%= debug(params) if Rails.env.development? %>
</div>
