<%= render "shared/errors", obj: @loan_item %>

  <table class="smart-green">
    <tr>
      <th>
        <%= f.label :item_name %>
      </th>
      <td>
        <% if @loan_item.loan_state_id.blank? or @loan_item.loan_state_id == 1  %>
          <%= f.text_field :item_name %>
        <% else %>
          <%#=  f.text_field :item_name, readonly: true  %>
          <%=  @loan_item.item_name  %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :category_id %>
      </th>
      <td>
        <% if @loan_item.loan_state_id.blank? or @loan_item.loan_state_id == 1  %>
          <%= f.collection_select :category_id, Category.all, :id, :name %>
        <% else %>
          <%= @loan_item.category.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :fare %>
      </th>
      <td>
        <% if @loan_item.loan_state_id.blank? or @loan_item.loan_state_id == 1  %>
          <%= f.text_field :fare %>
        <% else %>
          <%= @loan_item.fare %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :location %>
      </th>
      <td>
        <% if @loan_item.loan_state_id.blank? or @loan_item.loan_state_id == 1  %>
          <%= f.text_field :location %>
        <% else %>
          <%= @loan_item.location %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :term %>
      </th>
      <td>
        <% if @loan_item.loan_state_id.blank? or @loan_item.loan_state_id == 1  %>
          <%= f.text_area :term %>
        <% else %>
          <%= @loan_item.term %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :item_description %>
      </th>
      <td>
        <% if @loan_item.loan_state_id.blank? or @loan_item.loan_state_id == 1  %>
          <%= f.text_area :item_description %>
        <% else %>
          <%= @loan_item.item_description %>
        <% end %>
      </td>
    </tr>
    <% if !f.object.new_record? %>
        <tr>
          <th><%= f.label :loan_state_id %></th>
          <td>
            <%= @loan_item.loan_state.name %>
          </td>
        </tr>
    <% end %>

    <!--validationでエラーになるとnilになるので、画像選択が表示されないことの対応 -->
    <% if @loan_item.loan_item_image.nil? %>
        <% @loan_item.build_loan_item_image %>
    <% end %>

    <%= f.fields_for :loan_item_image do |imgf| %>
        <tr>
          <th>
            <!--画像-->
            <%= imgf.label :uploaded_image %>
          </th>
          <td>
            <% if @loan_item.loan_state_id.blank? or @loan_item.loan_state_id == 1  %>
              <%= imgf.file_field :uploaded_image %></br>
            <% end %>
            <% if !imgf.object.new_record? && imgf.object.errors.empty? %>
                <%# if !imgf.object.new_record? %>
                <%= loan_item_image_tag @loan_item, width: 120 %>
            <% end %>
          </td>
        </tr>
    <% end %>
