<p>app/views/loan_items/indexs.html.erb</p>

<% if flash.notice %>
  <p><%= flash.notice %></p>
<% end%>

<% @loan_items.each do |loan_item| %>
<%= loan_item.item_name %>
<%= loan_item.loan_state.name %>
<%= loan_item_image_tag loan_item, witdh: 96 %>
<%= link_to "編集", [:edit, loan_item]%>
<%= link_to "削除", loan_item, method: :delete , data: { confirm: "本当に削除しますか？"} %>
</br>
<% end %>

<%= debug(params) if Rails.env.development? %>
