<%= render partial: "shared/sidebar", locals:{subType: "LoanItems"} %>

<div id="main">

<br>

<%= form_for(@loan_item) do |form| %>
<table class="smart-green">
  <%= render "form", f: form %>
      <tr>
        <th colspan="2" align="center">
          <br/>
        <%= form.submit "登録", class: "button" %>　　　
        </th>
      </tr>
</table>
<% end %>

<%= debug(params) if Rails.env.development? %>
</div>
