<% if flash.notice %>
  <p><%= flash.notice %></p>
<% end%>

アイテム名 <%= @loan_item.item_name %></br>
カテゴリー <%= @loan_item.category_id %></br>
アイテム説明 <%= @loan_item.item_description %></br>
基本料金 <%= @loan_item.fare %></br>
貸出条件 <%= @loan_item.term %></br>
貸出場所 <%= @loan_item.location %></br>
状態 <%= @loan_item.loan_state_id %></br>
画像(helper利用)</br>
<%= loan_item_image_tag @loan_item, width: 150 %></br>

<%= debug(params) if Rails.env.development? %>
