<%= render partial: "shared/sidebar", locals:{subType: "LoanItems"}%>

<div id="main">

  <% if flash.notice %>
      <div class="tn-box tn-box-color">
        <p id="p-tn-box"><%= flash.notice %></p>
      </div>
      <br/>
  <% end%>

  <!--アイテム名-->
    <p id="show-itm-tle"><%= @loan_item.item_name %></p>
  <!--状態-->
  <p class="stus-icon show-itm-stus"><%= @loan_item.loan_state.try(:name) %></p>
  <!--図-->
  <div id="show-itm-pic"><%= loan_item_image_tag @loan_item %></div>
  <h3 style="font-size: 16px;">基本資料</h3>

  <div class="main_box2">
<ul id="show-item">
  <!--カテゴリー-->
  <li>カテゴリー：</li>
    <p class="show-p"><%= @loan_item.category.try(:name) %></p>
  <hr size="1" />
  <!--料金-->
  <li>料金：</li>
  <p class="show-p"><%= @loan_item.fare %> 円</p>
  <hr size="1" />
  <!-- 貸出場所 -->
  <li>貸出場所：</li>
  <p class="show-p"><%= @loan_item.location %></p>
  <hr size="1" />
  <!-- date -->
  <li>更新日：</li>
  <p class="show-p"><%= @loan_item.updated_at.strftime("%Y/%m/%d") %></p>
  <hr size="1" />
  <!--アイテム説明-->
  <li>アイテム説明：</li>
  <p class="show-p"><%= @loan_item.item_description %></p>
  <hr size="1" />
  <!--貸出条件-->
  <li>貸出条件：</li>
  <p class="show-p"><%= @loan_item.term %></p>
  </ul></div>
  <!-- <input type="button" value="戻る" class="button" onclick="window.history.back()"> -->


  <%= debug(params) if Rails.env.development? %>
</div>
