<%= render partial: "shared/sidebar", locals:{subType: "LoanItems"}%>

<div id="main">

  <% if flash.notice %>
      <div class="tn-box tn-box-color">
        <p id="p-tn-box"><%= flash.notice %></p>
      </div>
  <% end%>


  <!--アイテム名-->
  <h3 id="show-itm-tle"><%= @loan_item.item_name %></h3>
  <!--図-->
  <div id="show-itm-pic"><%= loan_item_image_tag @loan_item %></div>
<ul id="show-item">
  <!--状態-->
  <li><%= @loan_item.loan_state.name %></li>
  <!--カテゴリー-->
  <li><%= @loan_item.category.name %></li>
  <!--料金-->
  <li><%= @loan_item.fare %> 円</li>
  <!-- 貸出場所 -->
  <li><%= @loan_item.location %></li>
  <!--貸出条件-->
  <li><%= @loan_item.term %></li>
  <!--アイテム説明-->
  <li><%= @loan_item.item_description %></li>
</ul>
<!--
<div class="loanitemshow">
  <table class="itemdetail">
    <tbody>
      <tr class="tr1">
        <td class="tdlabel">

        </td>
        <td class="tdcontent1">

        </td>
        <td class="tdlabel">

        </td>
        <td class="tdcontent1">

        </td>
      </tr>
      <tr class="tr1">
        <td class="tdlabel">

        </td>
        <td class="tdcontent1">

        </td>
        <td class="tdlabel">

        </td>
        <td class="tdcontent1">
          <span style="color:#ff0000">
        </td>
      </tr>
      <tr class="tr2">
        <td class="tdlabel">

        </td>
        <td colspan="3" class="tdcontent2">

        </td>
      </tr>
      <tr class="tr3">
        <td class="tdlabel">

        </td>
        <td colspan="3" class="tdcontent2">

        </td>
      </tr>
      <tr class="tr3">
        <td class="tdlabel">

        </td>
        <td colspan="3" class="tdcontent2">

        </td>
      </tr>
      <tr class="tr3">
        <td class="tdlabel">
          画像
        </td>
        <td colspan="3" class="tdcontent2">

        </td>
      </tr>
    </tbody>
  </table>
</div>-->

  <%= debug(params) if Rails.env.development? %>
</div>
