<%= render partial: "shared/sidebar", locals:{subType: "BorrowReplies"} %>
<div id="main">
  <% if flash.notice %>
      <div class="tn-box tn-box-color">
        <p id="p-tn-box"><%= flash.notice %></p>
      </div>
      <br/>
  <% end%>

  <p class="webcri"><%= truncate(@borrow_reply.borrow_item.item_name,length: 10) %></p>
  <br/>
  <div class="tbl-rpy">
    <p>状態 <%= @borrow_reply.message_state.name %>
      <%= render "shared/errors", obj: @borrow_reply %>
      <%= form_for(@borrow_reply) do |form| %>
          <%= render partial: "form", locals:{f: form} %>
      <% end%>
    </div>
  <!--table class="smart-green">
    <tr>
      <th>
        アイテム名
      </th>
      <td>

      </td>
    </tr>
    <tr>
      <th>
        <!--status>
      </th>
      <td>
        <p></p>
      </td>
    </tr>
    <tr>
      <th colspan="2">

      </th>
    </tr>
  </table>
</div>
