<%= render partial: "shared/sidebar", locals:{subType: "BorrowReplies"} %>
<div id="main">
  <br/>
  <table class="smart-green">
    <tr>
      <th>
        アイテム名
      </th>
      <td>
        <%= truncate(@borrow_reply.borrow_item.item_name,length: 10) %>
      </td>
    </tr>
    <tr>
      <th>
        状態
      </th>
      <td>
        <p><%= @borrow_reply.message_state.name %></p>
      </td>
    </tr>
    <tr>
      <th colspan="2">
        <%= render "shared/errors", obj: @borrow_reply %>
          <%= form_for(@borrow_reply) do |form| %>
          <%= render partial: "form", locals:{f: form} %>
        <% end%>
      </th>
    </tr>
  </table>
  <input type="button" value="戻る" class="button" onclick="window.history.back()" style="margin-left: 30px">
  <%= debug(params) if Rails.env.development? %>
</div>
