<%= render partial: "shared/sidebar", locals:{subType: "BorrowReplies"} %>


<div id="main">
  <% if @borrow_replies %>
        <% @borrow_replies.each do |item|%>
          <!--item name-->
            <p class="webcri"><%= link_to truncate(item.borrow_item.item_name,length: 15),edit_tender_path(item.borrow_item)%></p>
          <!-- 状態-->
            <% if item.message_state %>
              <%= link_to item.message_state.name,[:edit,item], class: "stus-icon stus-rply" %>
            <% end %>
          <!--message-->
          <p><%= truncate(item.message,length: 15) %></p>
          <% if item.borrow_reply_images%>
            <% item.borrow_reply_images.each do |reply_image|%>
              <%= borrow_reply_image_tag item,reply_image,:size => '50x50'%>
            <% end%>
          <% end%>
          <!-- date-->
          <p>申込日 <%= item.created_at.to_s %>　　更新日 <%= item.updated_at.to_s %></p>
          <br/>
          <br/>
        <% end %>
        <%= paginate @borrow_replies %>
  <% end %>
</div>
