<%= render partial: "shared/sidebar", locals:{subType: "Borrows"} %>

<div id="main">
  <ul class="each-item">
    <% @loanItems.each do |item|%><li>
    <div class="each-item">
    <!-- 図 -->
    <div class="item-pic"><%= loan_item_image_tag item %></div>
    <!-- アイテム名 -->
    <h5 class="item-title"><%= link_to item.item_name, edit_borrow_path(:id=> item.id)%></h5>
    <!-- カテゴリー-->
    <div class="item-ctlg"><%= truncate(item.category.name,length: 20) %></div>
    <br/>
    <!-- 料金 -->
    <div class="item-price"><%= item.fare %>円</div>
    <!-- 状態-->
    <%= link_to item.loan_state.name, edit_borrow_path(:id => item.id), class: "stus-icon item-stus" %>
    <br/>
    <br/>
    <!-- 貸出場所　-->
    <div class="item-place">
    <%= "貸出場所：#{item.location}" %></div>
    <!-- 更新日 -->
    <div class="item-update">
    <%= "投稿者：#{item.member.user_name}" %>　<%= "更新日：#{item.updated_at.strftime("%Y/%m/%d")}"  %></div>
    </div>
    </li>
    <% end%>
  <%= paginate @loanItems %>
  </ul>
</div>
