<%= render partial: "shared/sidebar", locals:{subType: "Borrows"} %>



<div class="container">
  <div class="main">
    <div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
      <div class="cbp-vm-options">
        <a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid">Grid View</a>
        <a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list">List View</a>
      </div>

      <ul>
        <% @loanItems.each do |item|%><li>
        <!-- 図 -->
        <%= loan_item_image_tag item, class: "cbp-vm-image" %>
        <!-- アイテム名 -->
        <h3 class="cbp-vm-title"><%= item.item_name %></h3>
        <!-- 料金 -->
        <div class="cbp-vm-price"><%= item.fare %>円</div>
        <!-- 貸出場所　-->
        <div class="cbp-vm-details">
          <!-- カテゴリー-->
          <p class="p2"><%= truncate(item.category.name,length: 20) %></p>
          貸出場所：<%= item.location %>
          <!-- 投稿者-->
          <p><%= item.member.user_name %> 投稿日 <%= item.created_at.to_s %></p>
        </div>
        <!-- 状態-->
        <%= link_to item.loan_state.name, borrow_path(:id => item.id), class: "cbp-vm-icon cbp-vm-add" %>
      </li>
        <% end%>
      </ul>
    </div>
  </div><!-- /main -->
</div><!-- /container -->
<script src="assets/subjs/classie.js"></script>
<script src="assets/subjs/cbpViewModeSwitch.js"></script>