<%= render partial: "shared/sidebar", locals:{subType: "Borrows"} %>

<div class="loanitem">
  <table class="tb1">
    <% @loanItems.each do |item|%>
    <tbody>
      <tr>
        <td class="td1">
          <%= loan_item_image_tag item, width: 120 %>
        </td>
        <td class="td2">
          <!-- アイテム名-->
          <p class="p1"><%= link_to truncate(item.item_name,length: 20),borrow_path(:id => item.id)%></p>
          <!-- カテゴリー-->
          <p class="p2"><%= truncate(item.category.name,length: 20) %></p>
          <!-- 貸出場所-->
          <p class="p3"><%= truncate(item.location,length: 20) %></p>
          <!-- 投稿者-->
          <p class="p4 f1"><%= item.member.user_name %> 投稿日 <%= item.created_at.to_s %></p>
        </td>
        <td class="td3">
          <!-- 状態-->
          <%= item.loan_state.name %>
        </td>
        <td class="td4">
          <!-- 料金-->
          <span><%= item.fare %></span> <span style="color:#999999">円</span>
        </td> 
      </tr>
    </tbody>
   <% end%>
  </table>
</div>

