<% provide(:title, @member.user_name) %>
<% if flash.notice %>
  <p class="notice"><%= flash.notice %></p>
<% end%>

<!-- <p class="alert"><%= flash.alert %> -->
<% if flash.alert %>
  <p class="alert"><%= flash.alert %></p>
<% end%>
<div class="row">
  <aside class="col-md-4">
    <section class="member_info">
     <h1>
       <%= gravatar_for @member %>
       <%= @member.user_name %>
     </h1>
    </section>
    </aside>
</div>
